@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.Navbar {
    display: flex;
    justify-content: space-between;
}

.Logo {
    cursor: pointer;
}

.terms-and-conditions {
    color: #3366CC;
    text-decoration: underline;
    cursor: pointer;
}

.terms-and-conditions:hover {
    color: #0e398e;
}

.displayNone {
    display: none !important;
}

#FormsUl {
    display: grid;
    grid-template-columns: auto auto;
}

@media screen and (max-width: 1060px) {
    .Navbar {
        display: block;
        justify-content: space-between;
    }

    .Logo {
        text-align: center;
        margin-bottom: 10px;
    }

    .NavbarIn {
        justify-content: center !important;
    }
}


@media screen and (max-width: 767px) {
    #FormsUl {
        display: grid;
        grid-template-columns: auto;
    }

    .submittedFormsContainer h2 {
        text-align: center;
    }
}

@media screen and (max-width: 660px) {
    .NavbarIn {
        flex-direction: column;
    }
}

@media screen and (max-width: 510px) {
    .NavbarIn {
        gap: 5px !important;
    }

    .NavbarIn input {
        width: 100%;
    }
}